/* background */
.bg-btn-disabled {
  background-color: #7d8d9e;
}

.bg-btn-enabled {
  background-color: #3678bf;
}

.bg-gray {
  background-color: #d9d9d9;
}

.bg-black {
  background-color: black;
}

.bg-black-alpha-half {
  background-color: rgba(0, 0, 0, 0.5);
}

/* text */
.text-red {
  color: #ff0000;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-gray {
  color: #838486;
}

.text-blue {
  color: #4791e0;
}
