.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 35px;
  border-radius: 10px;
  font-weight: 800;
}

.btn-accept {
  background-color: #3678bf;
  border: none;
  color: white;
}

.btn-cancel {
  background-color: white;
  border: 2px solid rgba(255, 121, 121, 0.8);
  color: rgba(255, 121, 121, 0.8);
}
