.user-form {
  display: inline-block;
  margin: 15px auto;
  width: 400px;
  max-width: 90%;
}

.user-form-input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.user-form-input-group .label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.user-form-input-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.user-form-button {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
}

.user-form-link {
  align-self: center;
  display: inline-block;
  width: auto;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
}

.profile-preview {
  position: relative;
  border-radius: 20%;
  width: 120px;
  height: 120px;
  margin: 4px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.profile-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toast-complete {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(231, 112, 13, 0.7);
  color: white;
}

.user-form-footer {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}
