.action-buttons {
  display: flex;
  gap: 0.5rem;
}

.action-buttons button {
  background: none;
  padding: 0.625rem 1.25rem;
  font-weight: 400;
}

.delete-btn {
  color: #e7700d;
  border-color: #e7700d;
}
