.auth-layout {
  max-width: 50rem;
  min-height: 100vh;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.auth-container {
  width: 90%;
  max-width: 26rem;
  text-align: center;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}
