.author-profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  object-fit: cover;
}

.author-name {
  font-size: 14px;
}
