.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.header-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 0;
}

.auth-header {
  display: flex;
  align-items: center;
}

.auth-header .header-title {
  font-size: 2.5em;
}

.header-title {
  font-size: 1.5em;
  cursor: pointer;
  font-weight: 1000;
}

.header-profile {
  position: relative;
}

.header-login button {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
}

.btn-to-login {
  background: none;
  border: 1px solid rgb(27, 117, 208);
  color: rgb(27, 117, 208);
}

.btn-to-login:hover {
  background-color: hsl(210, 78%, 96%);
}

.btn-to-register {
  background-color: rgb(27, 117, 208);
  border: none;
  color: white;
}

.btn-to-register:hover {
  background-color: #155ca2;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  cursor: pointer;
  object-fit: cover;
}

.dropdown-profile {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 120px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.dropdown-profile button {
  background: none;
  border: none;
  padding: 12px 6px;
  text-align: center;
  font-size: 14px;
}

.dropdown-profile button:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
}
