.header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-btn-back {
  border: none;
  cursor: pointer;
  background: none;
  position: relative;
  right: 100px;
}

.header-profile {
  position: relative;
  display: inline-block;
  left: 100px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-profile {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 120px;
}

.dropdown-profile button {
  background: none;
  border: none;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-profile button:hover {
  background-color: #e9e9e9;
}
