body {
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.auth-layout {
  max-width: 800px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.auth-container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 500px;
  min-height: calc(100vh - 150px);
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-container {
  width: 70%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}
