body {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
}

.auth-layout {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.layout {
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
}

.auth-container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: auto 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.post-container {
  width: 100%;
  text-align: center;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}
