body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}
