.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  padding: 10px 35px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
