.post-form {
  display: inline-block;
  width: 600px;
  max-width: 100%;
  margin: auto;
}

.post-form .input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 0;
}

.post-form .input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.post-form .input-group input,
textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.post-form .input-content {
  width: 100%;
  height: 200px;
  padding: 15px;
  resize: none;
  line-height: 1.6;
}

.post-form .btn-post {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
}

.post-form .input-group .input-image {
  border: none;
  padding: 10px 0;
}
