.user-form {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 400px;
  max-width: 90%;
}

.user-form-input-group .label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.user-form-input-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.user-form-button {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.user-form-link {
  align-self: center;
  display: inline-block;
  width: auto;
  padding: 0;
  font-size: 12px;
  text-decoration: none;
}

.profile-preview {
  position: relative;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.profile-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toast-complete {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
