.profile-edit-form-input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

.btn-edit-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  font-size: 14px;
}

.profile-edit-form-input-group .email {
  margin: 5px 0 20px 0;
}

.btn-account-delete {
  background: none;
  border: none;
  align-self: center;
  display: inline-block;
  width: auto;
  padding: 0;
  font-size: 12px;
}
