.profile-edit-form-input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

.btn-edit-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 20px;
  padding: 6px 15px;
  cursor: pointer;
  font-size: 14px;
}

.profile-edit-form-input-group .email {
  margin: 5px 0 20px 0;
}

.btn-delete-account {
  background: none;
  border: none;
  align-self: center;
  display: inline-block;
  width: auto;
  padding: 0;
  font-size: 12px;
}

.toast-complete {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
