.post-create-form {
  display: inline-block;
  width: 450px;
  max-width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 0;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.input-group input,
textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.input-content {
  width: 100%;
  height: 200px;
  padding: 15px;
  resize: none;
  line-height: 1.6;
}

.btn-post-create {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.input-group .input-image {
  border: none;
  padding: 10px 0;
}
