.comment-section {
  padding: 10px 0;
}

.input-comment {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  resize: none;
}

.comment-create {
  margin-bottom: 30px;
}

.btn-create-box {
  margin: 10px 0;
  text-align: right;
}

.btn-create {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
}

.comment-stat {
  display: flex;
  gap: 6px;
  font-size: 18px;
  font-weight: 800;
  margin: 10px 0;
}

.comment-cnt {
  color: #3678bf;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-item {
  width: 90%;
  margin: 0 auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-actions {
  display: flex;
  gap: 8px;
}

.comment-content {
  font-size: 14px;
  margin-left: 40px;
  text-align: left;
}

.comment-created-date {
  font-size: 13px;
  color: #636b74;
}
