.comment-section {
  padding: 10px 0;
}

.input-comment {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 20px;
  resize: none;
}

.comment-create {
  margin-bottom: 30px;
}

.btn-create-box {
  margin: 10px 0;
  text-align: right;
}

.btn-create {
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
}

.comment-stat {
  display: flex;
  gap: 6px;
  font-size: 18px;
  font-weight: 800;
  margin: 10px 0;
}

.comment-cnt {
  color: #3678bf;
}

.comment-list {
  list-style: none;
  padding: 0;
  min-height: 500px;
}

.comment-item {
  width: 90%;
  margin: 0 auto;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-actions {
  display: flex;
  gap: 8px;
}

.comment-content {
  font-size: 14px;
  margin: 0 0 10px 40px;
  text-align: left;
}

.comment-created-date {
  font-size: 13px;
  color: #636b74;
}

.comment-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.page-number-list {
  display: flex;
  gap: 8px;
}

.btn-page-number.active {
  background-color: #1b75d0;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-page {
  border: none;
  background: none;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border-radius: 10px;
}

.comment-actions button {
  font-size: 12px;
  font-weight: 400;
  background: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 8px 16px;
}

.btn-page:hover {
  background-color: rgb(205 206 214 / 50%);
  border-color: rgb(205, 206, 214);
}

.active:hover {
  border: none;
  background-color: #1b75d0;
  color: white;
}
