.post-detail-page {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.post-detail-page::-webkit-scrollbar {
  display: none;
}

.post-title {
  font-size: 26px;
  text-align: left;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.post-detaul-header-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-detail-header-name {
  color: #636b74;
}

.created-date,
.updated-date {
  color: black;
}

.post-detail-info {
  display: flex;
  gap: 20px;
  font-size: 13px;
}

.post-author {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.post-actions {
  display: flex;
  gap: 8px;
}

.post-actions button {
  background: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400;
}

.btn-post-delete,
.btn-comment-delete {
  color: #e7700d;
  border-color: #e7700d;
}

.post-img {
  width: 60%;
  object-fit: cover;
  margin: 10px auto;
}

.post-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;
  padding: 10px 0;
}

.post-content p {
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-wrap;
}

.post-detail-view-count {
  font-size: 12px;
}

.post-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.like-box {
  text-align: center;
  border: 1.5px solid #c1c1c1;
  background-color: white;
  border-radius: 10px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 600;
  width: 50px;
  box-sizing: content-box;
}

.thumbs-emoji {
  font-size: 20px;
}

.liked {
  border-color: #e7700d;
}
