.post-detail-container {
  width: 90%;
  max-width: 500px;
  text-align: center;
  flex: 1;
  overflow-y: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.post-detail-container::-webkit-scrollbar {
  display: none;
}

.post-title {
  font-size: 20px;
  text-align: left;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.post-author {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
}

.post-actions {
  display: flex;
  gap: 8px;
}

.post-actions button,
.comment-actions button {
  background: none;
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}

.post-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin: 10px 0;
}

.post-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.post-content p {
  font-size: 14px;
  line-height: 1.6;
}

.post-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.stat-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 9px;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  width: 55px;
  height: 40px;
  box-sizing: content-box;
}

.not-liked {
  background-color: #d9d9d9;
}

.liked {
  background-color: #aca0eb;
}
