.post-list-page {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.post-list-page::-webkit-scrollbar {
  display: none;
}

.post-list-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.post-list-header input,
button {
  height: 40px;
  box-sizing: border-box;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
}

.btn-post-category,
.btn-filter,
.btn-sort {
  padding: 8px 14px;
  font-size: 15px;
  border: none;
  background: none;
  border-radius: 10px;
  color: #5f6065;
}

.active {
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-post-category:hover,
.btn-filter:hover,
.btn-sort:hover {
  background-color: rgb(205 206 214 / 16%);
  border: 1px solid rgb(205, 206, 214);
  color: black;
}

.active:hover {
  border: none;
  background-color: black;
  color: white;
}

.filter-sort-group {
  display: flex;
  justify-content: space-between;
}

.search-write-group {
  display: flex;
  justify-content: right;
}

.post-search {
  width: 280px;
  border: 1px solid #d0d0d0;
}

.btn-write {
  border: none;
  background-color: #1b75d0;
  color: white;
}

.btn-write:hover {
  background-color: #155ca2;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
