.image-preview {
  position: relative;
  border-radius: 20%;
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.image-group {
  display: flex;
  align-items: end;
  gap: 0.8rem;
}

.image-name {
  font-size: 0.85rem;
  font-weight: 400;
}
