.image-preview {
  position: relative;
  border-radius: 20%;
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.25rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  background-color: #e8e8e8;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
