.comment-section {
  padding: 0.625rem 0;
}

.comment-header {
  display: flex;
  gap: 0.375rem;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0.625rem 0;
}

.comment-cnt {
  color: #3678bf;
}

.comment-list {
  list-style: none;
  padding: 0;
  min-height: 31.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
