.post-title {
  font-size: 1.625rem;
  text-align: left;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0;
  border-bottom: 0.0625rem solid rgb(206, 206, 206);
  border-radius: 0;
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.post-detail-header-name {
  color: #636b74;
}

.created-date,
.updated-date {
  color: black;
}

.post-detail-info {
  display: flex;
  gap: 1.25rem;
}

.post-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.875rem;
  padding: 0.625rem 0;
}

.post-content p {
  font-size: 0.875rem;
  line-height: 1.6;
  white-space: pre-wrap;
}

.post-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 0.625rem;
}

.post-like-btn {
  text-align: center;
  background-color: white;
  padding: 0.75rem 0.875rem;
  width: 3.125rem;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.thumbs-emoji {
  font-size: 1.25rem;
}

.liked {
  border-color: #e7700d;
}

.like-cnt {
  font-size: 0.875rem;
  font-weight: 400;
}
