.post-form {
  display: inline-block;
  width: 37.5rem;
  max-width: 100%;
  margin: 0 auto;
}

.post-content {
  width: 100%;
  height: 12.5rem;
  padding: 0.9375rem;
  resize: none;
  line-height: 1.6;
}

.post-image {
  border: none;
  padding: 0.625rem 0;
}
