.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}

.header-content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.3125rem 0;
}

.header-guest {
  display: flex;
  gap: 0.625rem;
}

.header-guest-btn {
  min-width: 5rem;
  height: 2.5rem;
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 500;
  box-sizing: border-box;
}

.login-btn {
  background: none;
  border: 0.0625rem solid rgb(27, 117, 208);
  color: rgb(27, 117, 208);
}

.login-btn:hover {
  background-color: hsl(210, 78%, 96%);
}

.register-btn {
  background-color: rgb(27, 117, 208);
  border: none;
  color: white;
}

.register-btn:hover {
  background-color: #155ca2;
}
