body {
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}

* {
  border-radius: 0.625rem;
  box-sizing: border-box;
}

.border {
  border: 0.0625rem solid #aaa;
}

.border-bold {
  border: 0.1rem solid;
}
