body {
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

button {
  cursor: pointer;
}
