.post-card {
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.post-title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-stats {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.divider {
  border: none;
  border-top: 1px solid #d3d3d3;
  width: 100%;
  margin: 10px 0;
}
