.edit-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 1.25rem;
  padding: 0.375rem 0.9375rem;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.email {
  margin: 0.3125rem 0 1.25rem 0;
}

.delete-btn {
  background: none;
  border: none;
  align-self: center;
  display: inline-block;
  width: auto;
  padding: 0;
  font-size: 0.75rem;
  color: black;
}
