.comment-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.page-number-list {
  display: flex;
  gap: 0.5rem;
}

.btn-page-number.active {
  background-color: #1b75d0;
  color: white;
  font-weight: 600;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}

.btn-page {
  border: none;
  background: none;
  font-size: 0.875rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.625rem;
}

.btn-page:hover {
  background-color: rgb(205 206 214 / 50%);
  border-color: rgb(205, 206, 214);
}

.active:hover {
  border: none;
  background-color: #1b75d0;
  color: white;
}
