.post-detail-page {
  max-height: calc(100vh - 9.375rem);
  overflow-y: auto;
}

.post-detail-page::-webkit-scrollbar {
  display: none;
}

.post-author {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem 0;
}

.post-img {
  width: 60%;
  object-fit: cover;
  margin: 0.625rem auto;
}
